DJANGO_DEBUG=1
DJANGO_SECRET_KEY=melody-dev-secret
ALLOWED_HOSTS=*
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000
PAYMENT_GATEWAY=mock
ZARINPAL_SANDBOX=1
ZARINPAL_MERCHANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
